<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405815381968-jiat0gikupt6nv3r3tjts8cob0s5vvrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405815381968-jiat0gikupt6nv3r3tjts8cob0s5vvrg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>405815381968-8hqq7ho3p1a5392jspn9jmmtltuo3kug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQtLi_IrKJt5ESEN3oje14bD_aw5kvoCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>405815381968</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.komunalka-home-reactnative</string>
	<key>PROJECT_ID</key>
	<string>komunalka-home</string>
	<key>STORAGE_BUCKET</key>
	<string>komunalka-home.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405815381968:ios:508240090ffb65a27573d5</string>
</dict>
</plist>